In [2]:
import os
os.getcwd()

'/content'

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
dir = os.path.join('drive','My Drive','Colab Notebooks','STAT628_module3')
dir

'drive/My Drive/Colab Notebooks/STAT628_module3'

In [0]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
#import seaborn as sns

In [0]:
review = open(os.path.join(dir,'dataset','review.json'),encoding="utf8")
review = pd.DataFrame([json.loads(x) for x in review.readlines()])

In [0]:
# 5:41 start

In [7]:
review.head(n=15)

               business_id  cool  ... useful                 user_id
0   ujmEBvifdJM6h6RLv4wQIg     0  ...      6  hG7b0MtEbXx5QzbzE6C_VA
1   NZnhc2sEQy3RmzKTZnqtwQ     0  ...      0  yXQM5uF2jS6es16SJzNHfg
2   WTqjgwHlXbSFevF32_DJVw     0  ...      3  n6-Gk65cPZL6Uz8qRm3NYw
3   ikCg8xy5JIg_NGPx-MSIDA     0  ...      0  dacAIZ6fTM6mqwW5uxkskg
4   b1b1eb3uo-w561D0ZfCEiQ     0  ...      7  ssoyf2_x0EQMed6fgHeMyQ
5   eU_713ec6fTGNO4BegRaww     0  ...      0  w31MKYsNFMrjhWxxAb5wIw
6   3fw2X5bZYeW9xCz_zGhOHg     5  ...      5  jlu4CztcSxrKx56ba1a5AQ
7   zvO-PJCpNk4fgAVUnExYAA     1  ...      3  d6xvYpyzcfbF_AZ8vMB7QA
8   b2jN2mm9Wf3RcrZCgfo1cg     0  ...      1  sG_h0dIzTKWa3Q6fmb4u-g
9   oxwGyA17NL6c5t1Etg5WgQ     1  ...      1  nMeCE5-xsdleyxYuNZ_7rA
10  8mIrX_LrOnAqWsB5JrOojQ     0  ...      0  FIk4lQQu1eTe2EpzQ4xhBA
11  mRUVMJkUGxrByzMQ2MuOpA     0  ...      0  -mA3-1mN4JIEkqOtdbNXCQ
12  FxLfqxdYPA6Z85PFKaqLrg     0  ...      0  GYNnVehQeXjty0xH7-6Fhw
13  LUN6swQYa4xJKaM_UEUOEw     0  ...      0  bAhqAPoWaZYcyYi7bs024Q
14  AakkkTuGZA2KBodKi2_u8A     0  ...      1  TpyOT5E16YASd7EWjLQlrw

[15 rows x 9 columns]

In [8]:
review.shape

(6685900, 9)

In [9]:
review.loc[1,'text']

"I *adore* Travis at the Hard Rock's new Kelly Cardenas Salon!  I'm always a fan of a great blowout and no stranger to the chains that offer this service; however, Travis has taken the flawless blowout to a whole new level!  \n\nTravis's greets you with his perfectly green swoosh in his otherwise perfectly styled black hair and a Vegas-worthy rockstar outfit.  Next comes the most relaxing and incredible shampoo -- where you get a full head message that could cure even the very worst migraine in minutes --- and the scented shampoo room.  Travis has freakishly strong fingers (in a good way) and use the perfect amount of pressure.  That was superb!  Then starts the glorious blowout... where not one, not two, but THREE people were involved in doing the best round-brush action my hair has ever seen.  The team of stylists clearly gets along extremely well, as it's evident from the way they talk to and help one another that it's really genuine and not some corporate requirement.  It was so much fun to be there! \n\nNext Travis started with the flat iron.  The way he flipped his wrist to get volume all around without over-doing it and making me look like a Texas pagent girl was admirable.  It's also worth noting that he didn't fry my hair -- something that I've had happen before with less skilled stylists.  At the end of the blowout & style my hair was perfectly bouncey and looked terrific.  The only thing better?  That this awesome blowout lasted for days! \n\nTravis, I will see you every single time I'm out in Vegas.  You make me feel beauuuutiful!"

In [10]:
bus = pd.read_csv(os.path.join(dir,'dataset','business.csv'))
bus = bus[-bus['categories'].isnull()]
bus.head()

                          address  ... state
0     2818 E Camino Acequia Drive  ...    AZ
1            30 Eglinton Avenue W  ...    ON
2       10110 Johnston Rd, Ste 15  ...    NC
3   15655 W Roosevelt St, Ste 237  ...    AZ
4  4209 Stuart Andrew Blvd, Ste F  ...    NC

[5 rows x 14 columns]

In [11]:
filt = filter(lambda x: True if 'barbeque' in bus.loc[x,'categories'].lower() else False, bus.index.values)
bbq = bus.loc[list(filt),:]
bbq.shape

(1814, 14)

In [12]:
res = pd.merge(bbq,review,how = 'inner',on = 'business_id')
res.shape

(173000, 22)

In [13]:
res.head()

              address  ...                 user_id
0      12700 Shaw Ave  ...  3nsli0VlIelfiLVKBn5_Gw
1      12700 Shaw Ave  ...  r1jWEEScNKa-Xiw1Lad-rA
2      12700 Shaw Ave  ...  aKtwHb1VPg0P21N2Rv0rSQ
3      12700 Shaw Ave  ...  nIGU_03KN7eREzsPR5sbDA
4  25800 Central Pwky  ...  GDN08OPKo3rqysSldO5Mng

[5 rows x 22 columns]

In [14]:
res.isnull().sum(0)

address          586
attributes       594
business_id        0
categories         0
city               0
hours           5251
is_open            0
latitude           0
longitude          0
name               0
postal_code       12
review_count       0
stars_x            0
state              0
cool               0
date               0
funny              0
review_id          0
stars_y            0
text               0
useful             0
user_id            0
dtype: int64